pandas==2.2.2
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
xgboost-cpu==2.1.2
plotly==5.24.1
numpy==1.26.3
optuna==4.0.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
geopy==2.4.1
Flask==3.1.0
joblib==1.4.2
category-encoders==2.6.4
pika==1.1.0
requests==2.32.3
Flask==3.1.0
selenium==4.23.1
webdriver-manager==4.0.2
ipywidgets==8.1.5