<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>API для модели машинного обучения</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Модель для предсказания цены автомомбиля</h1>
  <br> 
  <hr style="border: 2px solid rgb(1, 4, 36);"></hr>   
  <p>При нажатии на кнопку предсказать приложение выбирает случайную строку из тестовой
    <br> выборки (имитируется отправка заполненной формы анкеты с сайта auto.ru) после чего 
    <br> на экран выводится результат.</p>
  <hr style="border: 2px solid rgb(1, 4, 36);"></hrstyle></hr>  
  <br>
    <form action="{{ url_for('predict')}}"method="post">
        <button type="submit" class="btn btn-primary btn-block btn-large">Предсказать</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

  </div>

  </body>
</html>